@model IEnumerable<Clinica.Models.Agendamento>
@{
    ViewBag.Title = "Home Page";
}

<h3>Próximos Agendamentos</h3>
<ul id="agenda" class="agendamentos">
    @foreach (var agendamento in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @agendamento.Data.ToString("MMM")
                </div>
                <div class="day">
                    @agendamento.Data.ToString("d ")
                </div>
                <div class="hour">
                    @agendamento.Data.ToString("HH:mm")
                </div>
            </div>
            <div class="details">
                <span class="medico">
                    Médico: @agendamento.Medico.Nome
                </span>
                <span class="paciente">
                    Paciente: @agendamento.Paciente.Nome
                </span>
                <span class="usuario">
                    Usuário: @agendamento.Usuario.Nome
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit","Agendamento", new { id = agendamento.ID })">Editar</a> | <a href="#" class="js-cancel" data-id="@agendamento.ID">Cancelar</a>
                </div>
            </div>
        </li>
    }
</ul>

@section scripts{
    
    <script>
        $(document).ready(function () {
            $(".js-cancel").click(function (e) {
                var link = $(e.target);
                if (confirm("Deseja mesmo cancelar?")) {
                    $.ajax({
                        url: "/api/Agendamento/" + link.attr("data-id"),
                        method: "DELETE"
                    }).done(function () {
                        link.parents("li").fadeOut(function () {
                            $(this).remove();
                        });
                    })
                        .fail(function () {
                            alert("Ocorreu um erro");
                    });
                }
            });
        });


    </script>    
    
}