
@model Clinica.ViewModels.PacienteViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adicionar Paciente</h2>
@using (Html.BeginForm("Create", "Paciente"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Endereco)
        @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RG)
        @Html.TextBoxFor(m => m.RG, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
}
